.footer_logo {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #335145;
    width: 100%;
    display: grid;
    justify-content: center;
}

.footer-svg {
    width: 20px;
    height: auto;
    display: inline-block !important;
}


.legals {
    font-size: x-small;
    color: #ECEBE4;
    margin: 5px;
}

.contacts > ul {
    margin: 0 5px 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contacts li {
    margin: 5px 0 0 5px;
}
@media screen and (max-width: 600px) {

}