.totals {
    align-self: center;
    margin-top: 0 !important;
    width: 30%;
}

.stats {
    padding: 50px;
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.stats_header {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

.total-num {
    font-size: 1.3em;
    font-weight: bold;
    font-style: italic;
}