.slider {
    display: block;
    padding-right: 15px;
    padding-left: 10px;
}

.timer {
    width: 100%;
    justify-content: center;
}

.tools {
    background-color: rgba(78, 2, 80, 0.1);
    justify-content: start;
    width: 20%;
}

.selected-time {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 4em;
    text-align: center;
}

.timer-btn {
    display: flex;
    justify-content: center;
}

.plant-btn:hover {
    color: #bebdb6;
}

.plant-btn {
    cursor: pointer;
    background-color: #307473;
    color: #ECEBE4;
    text-align: center;
    display: inline-block;
    font-size: large;
    padding: 10px;
    border-radius: 5px;
}

.prev-btn {
    transform: scaleX(-1);
}


.selector {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 5px 0 5px;
}

.selector_tree-btn {
    position: relative;
    height: auto;
    overflow: hidden;
    margin: 0;
    width: 70px;
    background-size: contain;
    background-image: url("../assets/next.png");
    background-repeat: no-repeat;
    background-position: center;
}

.selector_tree {
    padding: 15px;
    margin: 10px;
    background-color: rgba(78, 2, 80, 0.3);
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media screen and (max-width: 600px) {
    .openbtn {
        text-align: right;
        display: block;
    }

    .tools {
        background-color: inherit;
    }
}