@import "./styles/logo.css";
@import "./styles/footer.css";
@import "./styles/header.css";
@import "./styles/history.css";
@import "./styles/forest.css";
@import "./styles/tools.css";
@import "./styles/auth.css";
@import "./styles/profile.css";
@import "./styles/stats.css";

body,
html {
    background-color: #ECEBE4;
    margin: 0;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", Calibri, Tahoma, sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    height: 107px;
    width: 100%;
    bottom: 0;
}

h1,
h2,
button,
ul {
    margin: 0;
    padding: 0;
    text-align: center;
    background: none;
    border: none;
    list-style-type: none;
}

input[type="range"] {
    -webkit-appearance: none;
    align-content: center;
    height: 7px;
    width: 100%;
    background: #307473;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: black;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

.section-head {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding-bottom: 107px;
    justify-content: space-between;
}

.column {
    float: left;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.sidepanel {
    display: none;
}

@media screen and (max-width: 600px) {


    .forest {
        margin-top: 20px;
        width: 100%;
        padding: 0;
    }

    .content {
        height: auto;
        flex-direction: column;
        min-height: fit-content;
    }

    .field {
        margin: 15px;
        grid-template-columns: repeat(4, 1fr);
    }

    .field>div {
        min-width: 50px;
    }

    .column {
        width: 100%;
        justify-content: center;
    }

    .sidepanel {
        height: calc(100vh - 10px);
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #ECEBE4;
        overflow: hidden;
        padding-top: 10pxpx;
        padding-bottom: 20px;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sidepanel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 55px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 72px;
        margin-left: 50px;
        text-align: start;
    }
}